# important
twitter-credentials.json
.DS_Store

# vs code
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py

# pycache
src/__pycache__/*

# notebooks
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
notebooks/scratch_01.py
notebooks/textblob-demo.py
notebooks/twitter-api-twitter.ipynb
notebooks/scratch-1.ipynb
notebooks/twitter-api-twython.ipynb
notebooks/election-tweets-analysis-no-code.ipynb
notebooks/test.html
.vscode/*
