boto==2.49.0
boto3==1.10.15
botocore==1.13.15
certifi==2019.9.11
chardet==3.0.4
Click==7.0
dash==1.6.0
dash-core-components==1.5.0
dash-html-components==1.0.1
dash-renderer==1.2.0
dash-table==4.5.0
docutils==0.15.2
Flask==1.1.1
Flask-Compress==1.4.0
future==0.18.2
gensim==3.8.1
gunicorn==20.0.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.17.4
pandas==0.25.3
patsy==0.5.1
plotly==4.2.1
plotly-express==0.4.1
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
retrying==1.3.3
s3transfer==0.2.1
scipy==1.3.2
six==1.13.0
smart-open==1.9.0
statsmodels==0.10.1
textblob==0.15.3
urllib3==1.25.7
Werkzeug==0.16.0
